<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>在Vue中注册组件</title>
    <script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script>
    <script src="./dist/Message.js"></script>
</head>
<body>
<div id="app"></div>
</body>
<script>
    new Vue({
        el: '#app',
        mounted: function () {
            this.Message('这是一条消息提示');
            setTimeout(_=> {this.Message({message: '恭喜你，这是一条成功消息', type: 'success'}); }, 1000);
            setTimeout(_=> {this.Message({message: '警告哦，这是一条警告消息', type: 'warning'}); },2000);
            setTimeout(_=> {this.Message.error('错了哦，这是一条错误消息'); }, 3000);
        }
    })
</script>
</html>